---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-primary text-primary-content"; // For primary color replace with `active` class
// Header & Navigation UI displayed on each page.

import LocaleSelect from "@/components/i18n/LocaleSelectSingle.astro";
import { Image } from "astro:assets";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
const t = useTranslations(Astro.currentLocale as Lang);


const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
  getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<ul class="menu grow shrink menu-md overflow-y-auto space-y-2">
  <li>
    <a
      href={getRelativeLocaleUrl(locale, "/")}
      class={`text-base py-3  ${isActive("/") ? activeClass : ""}`}
    >
      {t({ en: "Home", pt: "Início" })}
    </a>
  </li>

  <li>
    <a
      href={getRelativeLocaleUrl(locale, "/cv")}
      class={`text-base py-3 ${isActive("/cv") ? activeClass : ""}`}
    >
      CV
    </a>
  </li>

  <li>
    <a
      href={getRelativeLocaleUrl(locale, "/blog")}
      class=`text-base py-3 ${isActive("/blog") ? activeClass : ''}`
    >
      {t({ en: "Projects", pt: "Projetos" })}
    </a>
  </li>

  <li>
    <a
      href={getRelativeLocaleUrl(locale, "/travel")}
      class=`text-base py-3 ${isActive("/travel") ? activeClass : ''}`
    >
      {t({ en: "Travel", pt: "Viagens" })}
    </a>
  </li>

  <li>
    <a
      class="py-3 text-base"
      href="mailto:eu@andrebrandao.dev"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade"
    >
      {
        t({
          en: "Get in Contact",
          pt: "Entrar em Contato",
        })
      }
    </a>
  </li>

  <!-- <li class="en-only">
    <a
      href={getRelativeLocaleUrl(locale, "/monolingual")}
      class={isActive("/monolingual") ? "active" : null}
    >
      Monolingual
    </a>
  </li> -->
</ul>
